#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: transparent url(./assets/loading.gif) no-repeat center center;
    z-index: 10000;
}

.bg-image {
    background-image: url('% static \'static/icons/bg-01.jpg\' %');
}