<!-- Home -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- OpenLayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <style>
        .map {
        height: 480px;
        width: 99%;
        }
    </style>
    <!-- OpenLayer -->
    <title>QVGrid</title>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <!-- import ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
</head>
<body style="background-color: #e9ecf3;">
    <!-- Navigator Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #3B3F51;">
        <div class="container" style="background-color: #3B3F51;" >
          <a class="navbar-brand" href="#">
                <img src="#" style="height: 30px; width: 30px;" alt="">
                <a class="DTMS_brand" href="% templates '/home.html' %">QVGrid Dashboard</a>
              </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a style="color: #337ab7;" class="nav-link" href="% templates '/home.html' %">Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QVGrid Features:</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Smart Querry</a>
                    <a class="dropdown-item disabled" href="#">Feature 2</a>
                  </div>
            </li>
            <!-- <li class="nav-item" disabled>
                <a class="nav-link" href="#">Analytics</a>
              </li> -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Testing User</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item disabled" href="#">Setting</a>
                      <a class="dropdown-item" href="% templates '/index.html' %">Logout</a>
                    </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- End Navigator Bar -->
    <!-- Body -->
    <div class="container layout-container" style="background-color: white;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm layout-container">
                <p class="areaSelectorContent"> เลือกการไฟฟ้าเขต: </p>
                <select id="my-select-area" name="my-select-area" class="areaSelector">
                    <option value="" selected>กรุณาเลือกการไฟฟ้าเขต</option>
                    <option value=""disabled>กฟน.1 (เชียงใหม่)</option>
                    <option value=""disabled>กฟน.2 (พิษณุโลก)</option>
                    <option value=""disabled>กฟน.3 (ลพบุรี)</option>
                    <option value=""disabled>กฟฉ.1 (อุดรธานี)</option>
                    <option value=""disabled>กฟฉ.2 (อุบลราชธานี)</option>
                    <option value=""disabled>กฟฉ.3 (นครราชสีมา)</option>
                    <option value=""disabled>กฟก.1 (อยุธยา)</option>
                    <option value="">กฟก.2 (ชลบุรี)</option>
                    <option value=""disabled>กฟก.3 (นครปฐม)</option>
                    <option value=""disabled>กฟต.1 (เพชรบุรี)</option>
                    <option value=""disabled>กฟต.2 (นครศรีธรรมราช)</option>
                    <option value=""disabled>กฟต.3 (ยะลา)</option>
                </select>
            </div>
            <div class="col-sm layout-container">
                <p class="areaSelectorContent"> เลือกสำนักงานการไฟฟ้า: </p>
                <select id="my-select-sub-area" name="my-select-sub-area" class="areaSelector">
                    <option value="" selected>กรุณาเลือกสำนักงานการไฟฟ้า</option>
                    <option value=""disabled>กฟฟ.เชียงใหม่</option>
                    <option value=""disabled>กฟจ.เชียงใหม่ 2</option>
                    <option value=""disabled>กฟจ.เชียงราย</option>
                    <option value=""disabled>กฟจ.ลำปาง</option>
                    <option value=""disabled>กฟจ.ลำพูน</option>
                    <option value=""disabled>กฟจ.พะเยา</option>
                    <option value=""disabled>กฟจ.แม่ฮ่องสอน</option>
                    <!-- C2 -->
                    <option value="กฟฟ.พัทยา">กฟฟ.พัทยา</option>
                    <option value="กฟจ.ชลบุรี">กฟจ.ชลบุรี</option>
                    <!--  -->
                </select>
            </div>
            <div class="col-sm layout-container">
                <p class="areaSelectorContent"> เลือกปีพยากรณ์: </p>
                <select id="my-select-area" name="my-select-area" class="areaSelector">
                    <option value="" selected>กรุณาเลือกปีพยากรณ์</option>
                    <option value="">ปี 2563</option>
                    <option value="">ปี 2564</option>
                    <option value="">ปี 2565</option>
                    <option value="">ปี 2566</option>
                    <option value="">ปี 2567</option>
                    <!-- This Option is created by jquerry -->
                </select>
            </div>
        </div>
        <hr>        
        <div class="row" style="margin-top: -16px;">
            <!-- 1st result box -->
            <div class="col-sm" style="padding: 10px; box-shadow: #888888;">
                <div class="basic-report">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 10px;">
                                    <p class="result_content"> 100 <span class="unit_content"> kWh </span> </p>
                                </div>
                            </div>
                            <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 18px;">
                                <img src="{% static '/icons/error.png' %}" style="height: 24px; width: 24; margin-left: -12px;" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top: -10px;">
                            <div class="col" style="color: #697882; font-size: 12px;">
                                หน่วยสูญเสียด้านแรงต่ำรวม:
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="container" style="margin-top: 3px;">
                                    <div class="row">
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-left: 0px;">
                                        คิดเป็นสัดส่วน
                                      </div>
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-right: 0px;">
                                        50 %
                                      </div>
                                    </div>
                                  </div>
                                <div class="" style="margin-top: 6px;">
                                    <p class="unit_content" style="font-size: 12px;"> จากเป้าหมายปี
                                        <span class="result_content" style="font-size: 14px;"> 2563 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <!-- End 1st result box -->
            <!-- 2nd result box -->
            <div class="col-sm" style="padding: 10px; box-shadow: #888888;">
                <div class="basic-report">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 10px;">
                                    <p class="result_content"> 500 <span class="unit_content"> เครื่อง </span> </p>
                                </div>
                            </div>
                            <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 18px;">
                                <img src="{% static '/icons/error.png' %}" style="height: 24px; width: 24; margin-left: -12px;" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top: -10px;">
                            <div class="col" style="color: #697882; font-size: 12px;">
                                หม้อแปลงจ่ายโหลดเกินพิกัดของหม้อแปลง:
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="container" style="margin-top: 3px;">
                                    <div class="row">
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-left: 0px;">
                                        คิดเป็นสัดส่วน
                                      </div>
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-right: 0px;">
                                        25 %
                                      </div>
                                    </div>
                                  </div>
                                <div class="" style="margin-top: 6px;">
                                    <p class="unit_content" style="font-size: 12px;"> จากจำนวนหม้อแปลงจำหน่าย 
                                        <span class="result_content" style="font-size: 14px;"> 2000 </span>
                                        <span class="unit_content" style="font-size: 12px;"> เครื่อง </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <!-- End 2nd result box -->
            <!-- 3rd result box -->
            <div class="col-sm" style="padding: 10px; box-shadow: #888888;">
                <div class="basic-report">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 10px;">
                                    <p class="result_content"> 200 <span class="unit_content"> เครื่อง </span> </p>
                                </div>
                            </div>
                            <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 18px;">
                                <img src="{% static '/icons/error.png' %}" style="height: 24px; width: 24; margin-left: -12px;" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top: -10px;">
                            <div class="col" style="color: #697882; font-size: 12px;">
                                หม้อแปลงจ่ายโหลดเกินพิกัดของสายจำหน่าย:
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="container" style="margin-top: 3px;">
                                    <div class="row">
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-left: 0px;">
                                        คิดเป็นสัดส่วน
                                      </div>
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-right: 0px;">
                                        10 %
                                      </div>
                                    </div>
                                  </div>
                                <div class="" style="margin-top: 6px;">
                                    <p class="unit_content" style="font-size: 12px;"> จากจำนวนหม้อแปลงจำหน่าย 
                                        <span class="result_content" style="font-size: 14px;"> 2000 </span>
                                        <span class="unit_content" style="font-size: 12px;"> เครื่อง </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <!-- End 3rd result box -->
            <!-- 4th result box -->
            <div class="col-sm" style="padding: 10px; box-shadow: #888888;">
                <div class="basic-report">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 10px;">
                                    <p class="result_content"> 400 <span class="unit_content"> เครื่อง </span> </p>
                                </div>
                            </div>
                            <div class="col" style="padding-left: 0px; padding-right: 0px; margin-top: 18px;">
                                <img src="{% static '/icons/error.png' %}" style="height: 24px; width: 24; margin-left: -12px;" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top: -10px;">
                            <div class="col" style="color: #697882; font-size: 12px;">
                                หม้อแปลงที่มีแรงดันตกในสายจำหน่าย:
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="container" style="margin-top: 3px;">
                                    <div class="row">
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-left: 0px;">
                                        คิดเป็นสัดส่วน
                                      </div>
                                      <div class="col-sm unit_content" style="font-size: 12px; padding-right: 0px;">
                                        20 %
                                      </div>
                                    </div>
                                  </div>
                                <div class="" style="margin-top: 6px;">
                                    <p class="unit_content" style="font-size: 12px;"> จากจำนวนหม้อแปลงจำหน่าย 
                                        <span class="result_content" style="font-size: 14px;"> 2000 </span>
                                        <span class="unit_content" style="font-size: 12px;"> เครื่อง </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <!-- End 4th result box -->
        </div>
      </div>
    <!-- Grid Layout -->
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                <!-- Map Layout -->
                <div id="map" class="map layout-container">
                    <div id="popup">
                    </div>
                </div>
                <!-- End Map Layout -->
            </div>
            <div class="col-md-6" style="background-color: white; margin-left: 0px;">  
                <canvas id="myChart" height="258px" style="background-color: white;"></canvas>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-12" style="padding-top: 16px;">
                <div class="table-responsive">
                    <div class="layout-container" style="height: 24px; padding-top: 6px;">
                        <h4 class="heading-table" style="display: inline-block;">รายละเอียดหม้อแปลงจำหน่ายในพื้นที่ 
                            <h4 id="choosee_pea_office" class="heading-table" style="padding-left: 10px; display: inline-block;">
                                
                            </h4>
                        </h4> 
                    </div>
                    <table class="table layout-container">
                        <thead>
                          <tr>
                            <th scope="col"> Num: </th>
                            <th scope="col"> PEANO </th>
                            <th scope="col"> GISTAG </th>
                            <th scope="col"> RATEKVA </th>
                            <th scope="col"> Phase </th>
                            <th scope="col"> FEEDER ID </th>
                            <th scope="col"> Num. Customers </th>
                            <th scope="col"> Detail: </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>123456</td>
                            <td>211-90787-1222</td>
                            <td>250</td>
                            <td>ABC</td>
                            <td>Feeder 1</td>
                            <td>82</td>
                            <td> 
                                <a href="">show</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>234152</td>
                            <td>211-90787-1222</td>
                            <td>315</td>
                            <td>ABC</td>
                            <td>Feeder 1</td>
                            <td>102</td>
                            <td> 
                                <a href="">show</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>112299</td>
                            <td>211-90787-1222</td>
                            <td>160</td>
                            <td>ABC</td>
                            <td>Feeder 1</td>
                            <td>144</td>
                            <td> 
                                <a href="">show</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>112299</td>
                            <td>211-90787-1222</td>
                            <td>160</td>
                            <td>ABC</td>
                            <td>Feeder 1</td>
                            <td>144</td>
                            <td> 
                                <a href="">show</a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>112299</td>
                            <td>211-90787-1222</td>
                            <td>160</td>
                            <td>ABC</td>
                            <td>Feeder 1</td>
                            <td>144</td>
                            <td> 
                                <a href="">show</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            
            </div>
          </div>    
        </div>      
    </div>
    <!-- End Grid Layout -->

    <!-- End Body -->
    <!-- Footer -->
    <footer class="page-footer font-small blue" style="background-color: #3B3F51;">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: whitesmoke;">© 2020 Copyright:
        <a href="http://pea.co.th/"> Research Division, PEA</a>
        </div>
        <!-- Copyright -->
  </footer>
  <!-- Footer -->
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/map_component.js' %}"></script>  
<script src="{% static '/js/chart_component.js' %}"></script>  
</body>
</html>
